*.iml
*.sw?
/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
*.iml
figwheel_server.log
resources/public/js
out
node_modules/
resources/private/js
package-lock.json
hs_err*
replay_pid*
.cpcache
.shadow-cljs/
release.properties
pom.xml.releaseBackup
