{:deps     {:aliases [:test]}
 :jvm-opts ["-Xmx2G"]
 :builds   {:ci-tests {:target           :karma
                       :js-options       {:js-provider :shadow}
                       :compiler-options {:static-fns false} ; required for mocking to work
                       :output-to        "target/ci.js"
                       :ns-regexp        "-spec$"}}}

